// fullview를 body에 붙이는 이유는 모든 게시글들이 펼쳐보여야 하기 때문이다
body.full-view.single-post .has-post-thumbnail {
  max-height: 100%;
  overflow: auto;
  .continue_post {
    display: none;
  }
}

.single-post .has-post-thumbnail {
  position: relative;

  max-height: 60vh;
  overflow: hidden;

  .continue_post {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(239, 248, 255, 0.96);
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    z-index: 3;

    iframe {
      margin-bottom: 0;
    }

    $fuschia: #a8977b;
    $button-bg: $fuschia;
    $button-text-color: #fff;
    $baby-blue: #f8faff;

    button {
      margin: 0;
      padding: 0;
      border: 0 none;
      outline: 0;
      cursor: pointer;
      padding: 4px 12px;
      height: auto;
      font-size: 1rem;

      font-family: "Helvetica", "Arial", sans-serif;
      display: inline-block;
      font-size: 1em;
      padding: 0.6rem 1rem;
      -webkit-appearance: none;
      appearance: none;
      background-color: $button-bg;
      color: $button-text-color;
      border-radius: 4px;
      border: none;
      cursor: pointer;
      position: relative;
      transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
      box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);

      &:focus {
        outline: 0;
      }

      &:before,
      &:after {
        position: absolute;
        content: "";
        display: block;
        width: 140%;
        height: 100%;
        left: -20%;
        z-index: -1000;
        transition: all ease-in-out 0.5s;
        background-repeat: no-repeat;
      }

      &:before {
        display: none;
        top: -75%;
        background-image: radial-gradient(
            circle,
            $button-bg 20%,
            transparent 20%
          ),
          radial-gradient(
            circle,
            transparent 20%,
            $button-bg 20%,
            transparent 30%
          ),
          radial-gradient(circle, $button-bg 20%, transparent 20%),
          radial-gradient(circle, $button-bg 20%, transparent 20%),
          radial-gradient(
            circle,
            transparent 10%,
            $button-bg 15%,
            transparent 20%
          ),
          radial-gradient(circle, $button-bg 20%, transparent 20%),
          radial-gradient(circle, $button-bg 20%, transparent 20%),
          radial-gradient(circle, $button-bg 20%, transparent 20%),
          radial-gradient(circle, $button-bg 20%, transparent 20%);
        background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%,
          15% 15%, 10% 10%, 18% 18%;
        //background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
      }

      &:after {
        display: none;
        bottom: -75%;
        background-image: radial-gradient(
            circle,
            $button-bg 20%,
            transparent 20%
          ),
          radial-gradient(circle, $button-bg 20%, transparent 20%),
          radial-gradient(
            circle,
            transparent 10%,
            $button-bg 15%,
            transparent 20%
          ),
          radial-gradient(circle, $button-bg 20%, transparent 20%),
          radial-gradient(circle, $button-bg 20%, transparent 20%),
          radial-gradient(circle, $button-bg 20%, transparent 20%),
          radial-gradient(circle, $button-bg 20%, transparent 20%);
        background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%,
          20% 20%;
        //background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
      }

      &:active {
        transform: scale(0.9);
        background-color: darken($button-bg, 5%);
        box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
      }

      &.animate {
        &:before {
          display: block;
          animation: topBubbles ease-in-out 0.75s forwards;
        }
        &:after {
          display: block;
          animation: bottomBubbles ease-in-out 0.75s forwards;
        }
      }
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: -92px;
      width: 100%;
      height: 92px;
      background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(239, 248, 255, 0)),
        to(rgba(239, 248, 255, 0.96))
      );
      background: linear-gradient(
        180deg,
        rgba(239, 248, 255, 0) 0,
        rgba(239, 248, 255, 0.96) 100%
      );
      background: -webkit-gradient(
        180deg,
        rgba(239, 248, 255, 0) 0,
        rgba(239, 248, 255, 0.96) 100%
      );
      background: -o-linear-gradient(
        180deg,
        rgba(239, 248, 255, 0) 0,
        rgba(239, 248, 255, 0.96) 100%
      );
    }

    .d-flex {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }

    .character_888 {
      color: #888;
    }

    .a_center {
      -webkit-box-align: center !important;
      -ms-flex-align: center !important;
      align-items: center !important;
    }

    .cp_skip_simple {
      background: #dddcda;
      width: 16px;
      height: 16px;
      position: absolute;
      top: 16px;
      right: 1px;
      display: flex;
      justify-content: center;
      align-items: center;

      .more_cnt {
        border-radius: 50%;
        background: 0 0;
        font-size: 11px;
        color: #666;
        width: inherit;
        height: inherit;
        text-align: center;
        line-height: 16px;
        margin: 1px;

        &.hidden {
          display: none;
        }
      }

      .more_read {
        background: 0 0;
        height: inherit;
        display: none;

        &.show {
          display: block;
        }
      }

      i {
        display: flex;
        width: 16px;
        height: 16px;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.184 2.25L6 5.4345L2.816 2.25L2.25 2.8155L5.434 6.0005L2.25 9.1845L2.816 9.75L6 6.566L9.184 9.75L9.75 9.1845L6.566 6.0005L9.75 2.8155L9.184 2.25Z' fill='%23666666'/%3e%3c/svg%3e");
        background-position: center;
        background-size: 14px;
      }
    }

    .continue_post_wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center;
      margin: 24px 0 34px 0;

      .title {
        font-size: 16px;
        font-weight: 700;
        margin: 0 0 16px 0;
      }
      .cp_content_dynamic {
        max-width: 80%;
        display: flex;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        border: 1px solid rgba(0, 0, 0, 0.08);
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        margin-top: -8px;
        position: relative;
      }

      .txt_back {
        margin: 14px 0 4px 0;
        font-size: 13px !important;
        line-height: 1.35;
      }
    }

    .continue_post_wrap .title span {
      color: #0073f0;
    }
  }
}
