body.full-view.single-post .has-post-thumbnail {
  max-height: 100%;
  overflow: auto;
}
body.full-view.single-post .has-post-thumbnail .continue_post {
  display: none;
}

.single-post .has-post-thumbnail {
  position: relative;
  max-height: 60vh;
  overflow: hidden;
}
.single-post .has-post-thumbnail .continue_post {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(239, 248, 255, 0.96);
  box-sizing: content-box;
  z-index: 3;
}
.single-post .has-post-thumbnail .continue_post iframe {
  margin-bottom: 0;
}
.single-post .has-post-thumbnail .continue_post button {
  margin: 0;
  padding: 0;
  border: 0 none;
  outline: 0;
  cursor: pointer;
  padding: 4px 12px;
  height: auto;
  font-size: 1rem;
  font-family: "Helvetica", "Arial", sans-serif;
  display: inline-block;
  font-size: 1em;
  padding: 0.6rem 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: #a8977b;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: box-shadow ease-in 0.25s, -webkit-transform ease-in 0.1s;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s, -webkit-transform ease-in 0.1s;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
}
.single-post .has-post-thumbnail .continue_post button:focus {
  outline: 0;
}
.single-post .has-post-thumbnail .continue_post button:before, .single-post .has-post-thumbnail .continue_post button:after {
  position: absolute;
  content: "";
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}
.single-post .has-post-thumbnail .continue_post button:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #a8977b 20%, transparent 20%), radial-gradient(circle, transparent 20%, #a8977b 20%, transparent 30%), radial-gradient(circle, #a8977b 20%, transparent 20%), radial-gradient(circle, #a8977b 20%, transparent 20%), radial-gradient(circle, transparent 10%, #a8977b 15%, transparent 20%), radial-gradient(circle, #a8977b 20%, transparent 20%), radial-gradient(circle, #a8977b 20%, transparent 20%), radial-gradient(circle, #a8977b 20%, transparent 20%), radial-gradient(circle, #a8977b 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.single-post .has-post-thumbnail .continue_post button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #a8977b 20%, transparent 20%), radial-gradient(circle, #a8977b 20%, transparent 20%), radial-gradient(circle, transparent 10%, #a8977b 15%, transparent 20%), radial-gradient(circle, #a8977b 20%, transparent 20%), radial-gradient(circle, #a8977b 20%, transparent 20%), radial-gradient(circle, #a8977b 20%, transparent 20%), radial-gradient(circle, #a8977b 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.single-post .has-post-thumbnail .continue_post button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  background-color: #9e8b6c;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}
.single-post .has-post-thumbnail .continue_post button.animate:before {
  display: block;
  -webkit-animation: topBubbles ease-in-out 0.75s forwards;
          animation: topBubbles ease-in-out 0.75s forwards;
}
.single-post .has-post-thumbnail .continue_post button.animate:after {
  display: block;
  -webkit-animation: bottomBubbles ease-in-out 0.75s forwards;
          animation: bottomBubbles ease-in-out 0.75s forwards;
}
.single-post .has-post-thumbnail .continue_post::after {
  content: "";
  position: absolute;
  left: 0;
  top: -92px;
  width: 100%;
  height: 92px;
  background: linear-gradient(180deg, rgba(239, 248, 255, 0) 0, rgba(239, 248, 255, 0.96) 100%);
  background: -webkit-gradient(180deg, rgba(239, 248, 255, 0) 0, rgba(239, 248, 255, 0.96) 100%);
  background: -o-linear-gradient(180deg, rgba(239, 248, 255, 0) 0, rgba(239, 248, 255, 0.96) 100%);
}
.single-post .has-post-thumbnail .continue_post .d-flex {
  display: flex;
}
.single-post .has-post-thumbnail .continue_post .character_888 {
  color: #888;
}
.single-post .has-post-thumbnail .continue_post .a_center {
  align-items: center !important;
}
.single-post .has-post-thumbnail .continue_post .cp_skip_simple {
  background: #dddcda;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 16px;
  right: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.single-post .has-post-thumbnail .continue_post .cp_skip_simple .more_cnt {
  border-radius: 50%;
  background: 0 0;
  font-size: 11px;
  color: #666;
  width: inherit;
  height: inherit;
  text-align: center;
  line-height: 16px;
  margin: 1px;
}
.single-post .has-post-thumbnail .continue_post .cp_skip_simple .more_cnt.hidden {
  display: none;
}
.single-post .has-post-thumbnail .continue_post .cp_skip_simple .more_read {
  background: 0 0;
  height: inherit;
  display: none;
}
.single-post .has-post-thumbnail .continue_post .cp_skip_simple .more_read.show {
  display: block;
}
.single-post .has-post-thumbnail .continue_post .cp_skip_simple i {
  display: flex;
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.184 2.25L6 5.4345L2.816 2.25L2.25 2.8155L5.434 6.0005L2.25 9.1845L2.816 9.75L6 6.566L9.184 9.75L9.75 9.1845L6.566 6.0005L9.75 2.8155L9.184 2.25Z' fill='%23666666'/%3e%3c/svg%3e");
  background-position: center;
  background-size: 14px;
}
.single-post .has-post-thumbnail .continue_post .continue_post_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 24px 0 34px 0;
}
.single-post .has-post-thumbnail .continue_post .continue_post_wrap .title {
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 16px 0;
}
.single-post .has-post-thumbnail .continue_post .continue_post_wrap .cp_content_dynamic {
  max-width: 80%;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-sizing: content-box;
  margin-top: -8px;
  position: relative;
}
.single-post .has-post-thumbnail .continue_post .continue_post_wrap .txt_back {
  margin: 14px 0 4px 0;
  font-size: 13px !important;
  line-height: 1.35;
}
.single-post .has-post-thumbnail .continue_post .continue_post_wrap .title span {
  color: #0073f0;
}
